/*
	SASS Variables
*/
/*
	General
*/
html,
body,
#main {
  width: 100%;
  height: 100%; }

nav a, button {
  min-height: 48px !important;
  min-width: 48px; }

img,
a,
embed,
object,
video {
  max-width: 100%; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/*
	SASS Mixins
*/
/*
	Imports
*/
/*
	Text mixin
*/
h1 {
  font-size: 1.1em;
  line-height: 1.1;
  font-weight: 100%;
  color: black; }

.frontpage {
  min-height: 100%;
  width: 100%;
  background-color: #223761;
  color: white;
  text-align: center; }
  .frontpage .hamburger
.hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .frontpage .hamburger span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .frontpage .hamburger span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .frontpage .hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px; }
  .frontpage .hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .frontpage .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px; }
