.frontpage {
	min-height: 100%;
	width: 100%;
	background: $paleblue;
	color: white;
	display: flex;
	flex-wrap: wrap;

	.head {
		@media (max-width:450px) {
			margin-left: 10%;
			margin-right: 0;
		}
		@media (min-width:451px) and (max-width:767px) {
			margin-right: 30%;
		}
		outline: solid $lightgrey 3px;
		padding: 1%;
		margin-left: 5%;
		margin-right: 65%;
		margin-top: 5%;
		height: 100%;
		text-align: center;
		h1 {
			@media (max-width:450px) {
				font-size: 250%;
				font-weight: 200;
				padding-top: 5%;
			}
			@media (min-width:451px) and (max-width:767px) {
				
			}
			margin: 0;
			color: $lightgrey;
			padding-top: 10%;
			font-size: 350%;
			font-family: $font;
			font-weight: 100;
			white-space: nowrap;
		}

		h2 {
			@media (max-width:450px) {
				font-size: 150%;
				font-weight: 200;
				padding-left:0;
			}
			@media (min-width:451px) and (max-width:767px) {
				
			}
			color: $lightgrey;
			font-size: 200%;
			font-family: $font;
			font-weight: 100;
			letter-spacing: 2px;
			white-space: nowrap;
			margin: 3%;
		}		
	}
	.social {

		@media(max-width:450px) {
			text-align: center;
			margin: 0;
			width: 30%;
			font-size: 250%;
			padding-top: 10%;
			padding-left: 8%;
		}
		@media (min-width:451px) and (max-width:767px) {
			
		}		
		font-size: 300%;
		margin-top: 4%;
		height: 100%;
		.fa {
			color: $lightgrey;

		}
		.twitter {
			@media(max-width:450px) {
				width: 100%;
			}
			text-align: center;
			color: $lightgrey;
		}
		.github {
			@media(max-width:450px) {
				width: 100%;
			}
			text-align: center;
			color: $lightgrey;
		}

	}
	.menu {
		width: 100%;
		@media (min-width:767px) {
			transform: translateY(-60%);			
		}
		@media (min-width:451px) and (max-width:767px) {
			
		}

		.skillsMenu,
		.workMenu,
		.aboutMenu {
			color: $lightgrey;
			display: block;
			margin:0;
			outline: $lightgrey solid 2px;
			font-size: 200%;
			font-family: $font;
			font-weight: 100;
			width: 100%;
			text-align: center;
			@extend .shade;
		}
		.aboutLink {
			@media (max-width: 450px) {
				transform: translate(150%, -20%) rotate(20deg);
			}
			@media (min-width:451px) and (max-width:767px) {
				transform: translate(400%, -20%) rotate(20deg);
			}
			@media (min-width: 768px) {
				transform: translate(600%, -200%) rotate(20deg);
			}
		}

		.workLink {
			@media (max-width: 450px) {
				transform: translate(-140%, 50%) rotate(-15deg);
			}	
			@media (min-width:451px) and (max-width:767px) {
				transform: translate(100%, -20%) rotate(-15deg);
			}				
			@media (min-width: 768px) {
				transform: translate(400%) rotate(-15deg);
			}
		}

		.skillLink {
			@media (max-width: 450px) {
				transform: translate(-100%, 230%) rotate(5deg);
			}
			@media (min-width:451px) and (max-width:767px) {
				transform: translate(300%, 230%) rotate(5deg);
			}
			@media (min-width: 768px){
				transform: translate(800%, 200%) rotate(0deg);
			}
		}
	}
}
.frontpage:after {
	content: "";
	display: block;
}
