.frontpage {
	min-height: 100%;
	width: 100%;
	background: linear-gradient(black, transparent);
	color: white;
	display: flex;
	flex-wrap: wrap;

	.head {
		outline: solid white 3px;
		width: 15%;
		padding-left: 2%;
		margin-left: 5%;
		margin-right: 65%;
		margin-top: 5%;
		height: 100%;
		h1 {
			color: white;
			padding-top: 10%;
			font-size: 350%;
			font-family: $font;
			-webkit-margin-before: 0;
			font-weight: 100;
			-webkit-margin-after: 0;
		}

		h2 {
			font-size: 200%;
			font-family: $font;
			font-weight: 100;
			letter-spacing: 2px;
			padding-left: 7%;
		}		
	}
	.social {
		font-size: 300%;
		margin-top: 4%;
		width: 10%;
		height: 100%;
		.fa-github-square {
			padding-left: 20%;
		}
	}
	.menu {
		width: 100%;
		transform: translateY(-60%);

		.skillsMenu,
		.workMenu,
		.aboutMenu {
			display: block;
			margin:0;
			outline: white solid 2px;
			font-size: 200%;
			font-family: $font;
			font-weight: 100;
			width: 100%;
			text-align: center;
			@extend .shade;
		}
		.aboutLink {
			transform: translate(600%, -200%) rotate(20deg);

			margin: 0;
			.aboutMenu:hover {
				background-color: white;
			}
		}

		.workLink {

			transform: translate(400%) rotate(-15deg);
		}
		.workMenu:hover {
			color: red;
		}

		.skillLink {

			transform: translate(800%, 200%) rotate(0deg);

		}
	}
}
