.frontpage {
	min-height: 100%;
	width: 100%;
	background-color: #223761;
	color: white;
	text-align: center;

	h1 {
		color: white;
		font-size: 400%;
		font-family: $font;
	}

	h2 {
		font-size: 200%;
		font-family: $font;
	}
}
