.skills {
	min-height: 100%;
	width: 100%;
	background: $paleblue;
	color: white;
	display: flex;
	flex-wrap: wrap;
	font-family: $font;

	.skill-list {
		width: 90%;
		margin-left: 5%;
		text-align: center;
		overflow: auto;
		height: 500px;
		
		h4 {
			font-weight: 100;
			font-size: 150%;
			margin:2%;
		}
		.skill-item {
			border-bottom: solid white 1px;
			font-weight: 100;
			font-size: 90%;
		}

		.skill-img {
			width: 30%;
			margin: 0;
		}
	}	
}