/*
	SASS Variables
*/
$font: "Helvetica Neue", Arial, sans-serif;
/*
	General
*/

html,
body,
#main {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
nav a, button {
	min-height: 48px !important;
	min-width: 48px;
}
img,
a,
embed,
object,
video {
	max-width: 100%;
}
a {
	&:link {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}

/*
	SASS Mixins
*/

/*
	Imports
*/

@import 'variables';
@import 'mixins';
@import 'front-page';
@import 'skills';
@import 'work';
@import 'about-me';
