/*
	Colors
*/
$paleblue: #A9B4BC;
$lightgrey: white;
$palerose: #9D8388;

/*
	Box-Shadow
*/
.shade {
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

/*
	Font Stacks
*/
$font: "Helvetica Neue", Arial, sans-serif;