/*
	Colors
*/
$paleblue: #377B99;
$lightgrey: white;
$palerose: #9D8388;

/*
	Box-Shadow
*/
.shade {
	-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,.8);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,.8);
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,.8);
}

/*
	Font Stacks
*/
$font: "Helvetica Neue", Arial, sans-serif;